<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="container-md">
    <div class="mx-auto" style="width: 200px;">
        <h1 class="display-6" th:text="|Products|"><b></b></h1><br/>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iter : ${products}">
            <th scope="row" th:text="${iter.count}"></th>
            <td th:text="${product.name}"></td>
            <td th:text="|${#numbers.formatDecimal(product.price, 0, 'WHITESPACE', 2, 'COMMA')} PLN|"></td>
            <td th:text="${product.category.getName()}"></td>
        </tr>
        </tbody>
    </table>
    <b th:text="|Sum of prices: ${#numbers.formatDecimal(sum, 0, 'WHITESPACE', 2, 'COMMA')} zł|"></b>
</div>
</body>
</html>